#{extends 'standardForm.html' /}
#{set title:'Stavke izvoda' /}

#{set 'prikazani'}
	idZaPrikaz
	#{/set}

<script>

function GetURLParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++)
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam)
        {
            return sParameterName[1];
        }
    }
}


$(document).ready(function(){
	var zaPrikazivanjeStoTreba = 0;
	//alert(GetURLParameter('id'));
	//zaPrikazivanjeStoTreba = GetURLParameter('id');
	//alert(zaPrikazivanjeStoTreba)
	$("#posgodPickup").click(function(){
		id1 = $(".highlighted").find(".pg_id").html();
		$("select").val(id1);
		$('#posgodModal').modal('toggle');
	});
});

$(document).ready(function(){
	var zaPrikazivanjeStoTreba = 0;
	//alert(GetURLParameter('id'));
	//zaPrikazivanjeStoTreba = GetURLParameter('id');
	//alert(zaPrikazivanjeStoTreba)
	$("#posparPickup").click(function(){
		id2 = $(".highlighted").find(".pp_id").html();
		$("select").val(id2);
		$('#posparModal').modal('toggle');
	});
});



function sync(item){
    dnevnostaval = item.find(".dnevnoStanje").attr("value");
    pospartval = item.find(".poslovniPartner").attr("value");
    brojStavke = item.find(".brojStavke").html()
	DuznikNalagodavac = item.find(".DuznikNalagodavac").html()
	svrhaPlacanja = item.find(".svrhaPlacanja").html()
	PoverilacPrimalac = item.find(".PoverilacPrimalac").html()
	datumPrijema = item.find(".datumPrijema").html()
	datumValute = item.find(".datumValute").html()
	modelZaduzenja = item.find(".modelZaduzenja").html()
	pozivNaBrojZaduzenja = item.find(".pozivNaBrojZaduzenja").html()
	racunPoverioca = item.find(".racunPoverioca").html()
	modelOdobrenja = item.find(".modelOdobrenja").html()
	pozivNaBrojOdobrenja = item.find(".pozivNaBrojOdobrenja").html()
	hitno = item.find(".hitno").html()
	iznos = item.find(".iznos").html()
	tipGreske = item.find(".tipGreske").html()
	status = item.find(".status").html()
    id = item.find(".id").html()
    
    $("#dnevnoStanje").val(dnevnostaval);
    $("#poslovniPartner").val(pospartval);
    $("#stavkeIzvoda_brojStavke").val(brojStavke);
    $("#stavkeIzvoda_DuznikNalagodavac").val(DuznikNalagodavac);
    $("#stavkeIzvoda_svrhaPlacanja").val(svrhaPlacanja);
    $("#stavkeIzvoda_PoverilacPrimalac").val(PoverilacPrimalac);
    $("#stavkeIzvoda_datumPrijema").val(datumPrijema);
    $("#stavkeIzvoda_datumValute").val(datumValute);
    $("#stavkeIzvoda_modelZaduzenja").val(modelZaduzenja);
    $("#stavkeIzvoda_pozivNaBrojZaduzenja").val(pozivNaBrojZaduzenja);
    $("#stavkeIzvoda_racunPoverioca").val(racunPoverioca);
    $("#stavkeIzvoda_modelOdobrenja").val(modelOdobrenja);
    $("#stavkeIzvoda_pozivNaBrojOdobrenja").val(pozivNaBrojOdobrenja);
    $("#stavkeIzvoda_hitno").val(hitno);
    $("#stavkeIzvoda_iznos").val(iznos);
    $("#stavkeIzvoda_tipGreske").val(tipGreske);
    $("#stavkeIzvoda_status").val(status);
    $("#stavkeIzvoda_id").val(id);
}

function remove(id)
{
	var answer = confirm("Are you sure you want to delete?");
	if(answer)
		{
			$(location).attr('href','/StavkeIzvoda/delete?id='+id);
		}
	else
		{
		
		}
}
</script>



<p>
<ul>
  <li><a href="@{StavkeIzvoda.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{StavkeIzvoda.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{StavkeIzvoda.show("add",null)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Stavke izvoda</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Dnevno stanje</th>
	   <th>Poslovni partner</th>
	   <th>Broj stavke</th>
	   <th>Duznik - Nalagodavac</th>
	   <th>Svrha placanja</th>
	   <th>Poverilac - Primalac</th>
	   <th>Datum prijema</th>
	   <th>Datum valute</th>
	   <th>Model zaduzenja</th>
	   <th>Poziv na broj zaduzenja</th>
	   <th>Racun proverioca</th>
	   <th>Model odobrenja</th>
	   <th>Poziv na broj odobrenja</th>
	   <th>Hitno</th>
	   <th>Iznos</th>
	   <th>Tip greske</th>
	   <th>Status</th>
	</tr>
#{list items:stavkaIzvoda, as:'stavkeIzvoda'}
	<tr #{if stavkeIzvoda.id == selectedIndex} class = "highlighted trww" #{/if} class="trww">
		<td value="${stavkeIzvoda.dnevnoStanje.id}" class = "dnevnoStanje">${stavkeIzvoda.dnevnoStanje.datumIzvoda}</td>
		<td value="${stavkeIzvoda.poslovniPartner.id}" class = "poslovniPartner">${stavkeIzvoda.poslovniPartner.preduzece.naziv}</td>
		<td class = "brojStavke">${stavkeIzvoda.brojStavke}</td>
		<td class = "DuznikNalagodavac">${stavkeIzvoda.DuznikNalagodavac}</td>
		<td class = "svrhaPlacanja">${stavkeIzvoda.svrhaPlacanja}</td>
		<td class = "PoverilacPrimalac">${stavkeIzvoda.PoverilacPrimalac}</td>
		<td class = "datumPrijema">${stavkeIzvoda.datumPrijema}</td>
		<td class = "datumValute">${stavkeIzvoda.datumValute}</td>
		<td class = "modelZaduzenja">${stavkeIzvoda.modelZaduzenja}</td>
		<td class = "pozivNaBrojZaduzenja">${stavkeIzvoda.pozivNaBrojZaduzenja}</td>
		<td class = "racunPoverioca">${stavkeIzvoda.racunPoverioca}</td>
		<td class = "modelOdobrenja">${stavkeIzvoda.modelOdobrenja}</td>
		<td class = "pozivNaBrojOdobrenja">${stavkeIzvoda.pozivNaBrojOdobrenja}</td>
		<td class = "hitno">${stavkeIzvoda.hitno}</td>
		<td class = "iznos">${stavkeIzvoda.iznos}</td>
		<td class = "tipGreske">${stavkeIzvoda.tipGreske}</td>
		<td class = "status">${stavkeIzvoda.status}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${stavkeIzvoda.id}</td>
	</tr>
#{/list}
</table>

		#{set 'action'}
		  #{if mode == 'add'}
		    @{StavkeIzvoda.create()}
		  #{/if}
		#{/set}

<div class = "panel">
	<p>
	
		<form action=${action} method="post">
		
				#{field 'stavkeIzvoda.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'dnevnoStanje'}
					<label for = "${field.id}">Dnevno stanje</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:dnevnoStanje, as:'dnevnaStanja'}
					<option value = "${dnevnaStanja.id}">${dnevnaStanja.datumIzvoda}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#posgodModal">...	</button>
					 
					 <script>
					 	//alert(zaPrikazivanjeStoTreba);
					 	//document.getElementById('${field.id}').selectedIndex=zaPrikazivanjeStoTreba;
					 	document.getElementById('${field.id}').selectedIndex=GetURLParameter('id')-1;
					 </script>
				#{/}
				</p>
				<p>
				#{field 'poslovniPartner'}
					<label for = "${field.id}">Poslovni partner</label>
					<select name = "${field.name}" id = "${field.id}"/>
					#{list items:poslovniPartner, as:'posPartneri'}
					<option value = "${posPartneri.id}">${posPartneri.preduzece.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#posparModal">...	</button>
					 
					 <script>
					 	//alert(zaPrikazivanjeStoTreba);
					 	//document.getElementById('${field.id}').selectedIndex=zaPrikazivanjeStoTreba;
					 	document.getElementById('${field.id}').selectedIndex=GetURLParameter('id')-1;
					 </script>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.brojStavke'}
					<label for = "${field.id}">Broj stavke</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.DuznikNalagodavac'}
					<label for = "${field.id}">Duznik</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.svrhaPlacanja'}
					<label for = "${field.id}">Svrha placanja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.PoverilacPrimalac'}
					<label for = "${field.id}">Poverilac</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.datumPrijema'}
					<label for = "${field.id}">Datum prijema</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.datumValute'}
					<label for = "${field.id}">Datum valute</label>
					<input type = "date" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.modelZaduzenja'}
					<label for = "${field.id}">Model zaduzenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.pozivNaBrojZaduzenja'}
					<label for = "${field.id}">Poziv na broj zaduzenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.racunPoverioca'}
					<label for = "${field.id}">Racun poverioca</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.modelOdobrenja'}
					<label for = "${field.id}">Model odobrenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.pozivNaBrojOdobrenja'}
					<label for = "${field.id}">Poziv na broj odobrenja</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.hitno'}
					<label for = "${field.id}">Hitno</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.iznos'}
					<label for = "${field.id}">Iznos</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.tipGreske'}
					<label for = "${field.id}">Tip greske</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<p>
				#{field 'stavkeIzvoda.status'}
					<label for = "${field.id}">Status</label>
					<input type = "text" name = "${field.name}" id = "${field.id}"/>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				 
		</form>
	</p>
</div>
<!-- Modal -->
  <div class="modal fade" id="posgodModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Dnevna stanja koje se nalaze u bazi su:
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Datum izvoda</th> 
		   <th>Racun</th> 
		</tr>
		#{list items:dnevnaStanja, as:'dnevnoStanje'}
		<tr>
			<td class = "datumIzvoda">${dnevnoStanje.datumIzvoda}</td>
			<td value="${dnevnoStanje.racun.id}" class = "racun">${dnevnoStanje.racun.IDracuna}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "pg_id">${dnevnoStanje.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "posgodPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
   
  <div class="modal fade" id="posparModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Poslovni partneri koji se nalaze u bazi su:
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Naziv preduzeca</th>
		</tr>
		#{list items:poslovniPartner, as:'poslovniPartner'}
		<tr>
			<td class = "preduzece">${poslovniPartner.preduzece.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "pp_id">${poslovniPartner.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "posparPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>
</div>