#{extends 'standardForm.html' /}
#{set title:'Poslovni partneri' /}

#{set 'prikazani'}
	idZaPrikaz
	#{/set}

<script>


function GetURLParameter(sParam)
	{
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    for (var i = 0; i < sURLVariables.length; i++)
	    {
	        var sParameterName = sURLVariables[i].split('=');
	        if (sParameterName[0] == sParam)
	        {
	            return sParameterName[1];
	        }
	    }
	}




$(document).ready(function(){
	var zaPrikazivanjeStoTreba = 0;
	$("#drzavaPickup").click(function(){
		id = $(".highlighted").find(".dr_id").html();
		$("select").val(id);
		$('#drzaveModal').modal('toggle');
	});
});

function sync(item){

	predval = item.find(".preduzeca").attr("value");
	id = item.find(".id").html()
    
    $("#poslovnipartner_id").val(id);
    $("#preduzeca").val(predval);
}

function remove(id)
{
	var answer = confirm("Are you sure you want to delete?");
	if(answer)
		{
			$(location).attr('href','/PoslovniPartneri/delete?id='+id);
		}
	else
		{
		
		}
}


</script>

<p>
<ul>
  <li><a href="@{PoslovniPartneri.show("search",null)}" id = "search"><img src="@{'/public/images/search.gif'}"/></a></li>
  <li><a href="@{PoslovniPartneri.show("edit",null)}" id = "refresh"><img src="@{'/public/images/refresh.gif'}"/></a></li>
  <li><a href="#" id = "pickup"><img src="@{'/public/images/zoom-pickup.gif'}"/></a></li>
  <li><a href="#" id = "help"><img src="@{'/public/images/help.gif'}"/></a></li>
  <li><a  id = "first"><img src="@{'/public/images/first.gif'}"/></a></li>
  <li><a  id = "prev"><img src="@{'/public/images/prev.gif'}"/></a></li>
  <li><a  id = "next"><img src="@{'/public/images/next.gif'}"/></a></li>
  <li><a  id = "last"><img src="@{'/public/images/last.gif'}"/></a></li>
  <li><a href="@{PoslovniPartneri.show("add")}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
  <li><a href="#" id = "nextform"><img src="@{'/public/images/nextform.gif'}"/></a></li>
</ul>
</p>

<div class = "container-fluid">
<h1>Poslovni partneri</h1>

<table class="TabelaForme">
	<tr class = "header">
	   <th>Naziv</th> 
	</tr>
#{list items:partneri, as:'part'}
	<tr #{if part.id == selectedIndex} class = "highlighted trww" #{/if} class="trww">
		<td value="${part.preduzece.id}" class = "preduzece">${part.preduzece.naziv}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${part.id}</td>
	</tr>
#{/list}
</table>


#{set 'action'}
    #{if mode == 'add'}
        @{PoslovniPartneri.create()}
    #{/if}
    #{else mode == 'edit'}
        @{PoslovniPartneri.edit()}
    #{/else}
    
  #{/set}

  
<div class = "panel">
	<p>
	
		<form action = "${action}">
		
				#{field 'poslovnipartner.id'}
					<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
				#{/}
				
				<p>
				#{field 'preduzece'}
					<label for = "${field.id}">Preduzeca</label>
					<select name = "${field.name}" id = "${field.id}" />
					#{list items:preduzeca, as:'pred'}
					<option value = "${pred.id}">${pred.naziv}</option>
					#{/list}
					</select>
					
					 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#drzaveModal">...	</button>
					 
					 <script>
					 	//alert(zaPrikazivanjeStoTreba);
					 	//document.getElementById('${field.id}').selectedIndex=zaPrikazivanjeStoTreba;
					 	document.getElementById('${field.id}').selectedIndex=GetURLParameter('id')-1;
					 </script>
				#{/}
				</p>
				<div id = "formActions">
					<input type = "submit" value = "Potvrda" style="margin-left:6em"/>
					<a href = "#" style="margin-left:1em">Rollback</a>
				</div>			
				
		</form>
	</p>
</div>

 <!-- Modal -->
  <div class="modal fade" id="drzaveModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
      	Preduzeca koja se nalaze u sistemu:
      </div>
      <div class="modal-body">
	    <table style = "padding:2em">
		<tr class = "header">
		   <th>Sifra</th> 
		   <th>Naziv</th>
		</tr>
		#{list items:preduzeca, as:'pred'}
		<tr>
			<td class = "sifra">${pred.sifra}</td>
			<td class = "naziv">${pred.naziv}</td>
			<td style = "visibility: hidden; max-width: 0px" class = "dr_id">${pred.id}</td>
		</tr>
		#{/list}
		</table>
		<div class="modal-footer">
			<input id = "drzavaPickup" type = "button" value = "izbor"/>
		</div>
		</div>
      </div>
    </div>
   </div>
</div>


