#{extends 'standardForm.html' /}
#{set title:'Home' /}

<html>
<head>
<style>
p.solid {border-style: solid; color: rgb(0, 153, 204);}
button { margin: -20px -50px;
		 position:relative;
    	 top:50%; 
    	 left:50%;}
</style>
</head>

<script>
function show()
{
	$(location).attr('href','/Logovanje/show');
}

function show1()
{
	$(location).attr('href','/Drzave/show');
}

function show2()
{
	$(location).attr('href','/NaseljenaMesta/show');
}

function show3()
{
	$(location).attr('href','/Bank1/show');
}

function show4()
{
	$(location).attr('href','/Racuni/show');
}

function show5()
{
	$(location).attr('href','/Preduzeca/show');
}

function show6()
{
	$(location).attr('href','/PoslovneGodine/show');
}

function show7()
{
	$(location).attr('href','/ulazneFakture/show');
}

function show8()
{
	$(location).attr('href','/izlazneFakture/show');
}

function show9()
{
	$(location).attr('href','/stavkeIzvoda/show');
}

function show10()
{
	$(location).attr('href','/zatvaranjeUlaznihFaktura/show');
}

function show11()
{
	$(location).attr('href','/zatvaranjeIzlaznihFaktura/show');
}

function show12()
{
	$(location).attr('href','/dnevnaStanja/show');
}
</script>

<h1>Pocetna stranica</h1>
</br>
</br>
<p class="solid">
</br>
<button><a href="#" id = "logovanje">Logovanje</button>
</br>

</br>
</br>
<button><a href="#" id = "drzave">Drzave</a></button>
</br>

</br>
<button><a href="#" id = "naseljenaMesta">Naseljena mesta</a></button>
</br>

</br>
<button><a href="#" id = "banke">Banke</button> 
</br>

</br>
<button><a href="#" id = "racuni">Racuni</button>
</br>

</br>
<button><a href="#" id = "preduzeca">Preduzeca</button>
</br>

</br>
<button><a href="#" id = "poslovneGodine">Poslovne godine</button>
</br>

</br>
<button><a href="#" id = "ulazneFakture">Ulazne fakture</a></button>
</br>

</br>
<button><a href="#" id = "izlazneFakture">Izlazne fakture</button> 
</br>

</br>
<button><a href="#" id = "dnevnaStanja">Dnevna stanja</button> 
</br>


</br>
<button><a href="#" id = "stavkeIzvoda">Stavke izvoda</button>
</br>

</br>
<button><a href="#" id = "zatvaranjeUlaznihFaktura">Zatvorene ulazne fakture</button>
</br>

</br>
<button><a href="#" id = "zatvaranjeIzlaznihFaktura">Zatvorene izlazne fakture</button>
</br>
</br>
</p>
<h2>Studenti na projektu: Nikola Gajic, Vladan Barajevac i Djordje Mutic.</h2>
</html>

