#{extends 'standardForm.html' /}
#{set title:'Home' /}

<html>
<head>
<meta charset="UTF-8">
<style>
p.solid {border-style: solid; color: rgb(0, 153, 204);}
button { margin: -20px -50px;
		 position:relative;
    	 top:50%; 
    	 left:50%;}
</style>
</head>

<h1>Početna stranica</h1>
</br>
</br>
<p class="solid">
</br>
<div align=center>
      <a href="http://localhost:9000/Logovanje/show" id = "logovanje">Logovanje
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Drzave/show" id = "drzave">Države</a> 
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/NaseljenaMesta/show" id = "naseljenaMesta">Naseljena mesta</a> 
</div>
</br>

</br>
<div align=center>
	  <a href="http://localhost:9000/Bank1/show" id = "banke">Banke
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/Racuni/show" id = "racuni">Računi 
</div>
</br>

</br><div align=center>
      <a href="http://localhost:9000/Preduzeca/show" id = "preduzeca">Preduzeća 
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/PoslovneGodine/show" id = "poslovneGodine">Poslovne godine 
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/ulazneFakture/show" id = "ulazneFakture">Ulazne fakture
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/izlazneFakture/show" id = "izlazneFakture">Izlazne fakture  
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/dnevnaStanja/show" id = "dnevnaStanja">Dnevna stanja  
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/stavkeIzvoda/show" id = "stavkeIzvoda">Stavke izvoda 
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/zatvaranjeUlaznihFaktura/show" id = "zatvaranjeUlaznihFaktura">Zatvorene ulazne fakture 
</div>
</br>

</br>
<div align=center>
      <a href="http://localhost:9000/zatvaranjeIzlaznihFaktura/show" id = "zatvaranjeIzlaznihFaktura">Zatvorene izlazne fakture 
</div>
</br>
</br>
</p>
<div align=center>
<h2>Studenti na projektu: Nikola Gajić, Vladan Barajevac i Đorđe Mutić.</h2>
</div>
</html>

